<a href="https://colab.research.google.com/github/ThiagoMMonteiro/FullPython/blob/master/fullpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![author](https://img.shields.io/badge/Author-thiagommonteiro-blue)](https://www.linkedin.com/in/thiago-m-monteiro/)

In [0]:
# -*- coding: utf-8 -*- (python interpreter recognize accents)

## **Comments**

In [0]:
# One line comentary exemple

#Multiple lines comentary exemple
#Multiple lines comentary exemple
#Multiple lines comentary exemple

"""
Docstrings exemple
"""

##Arithmetic Operators

In [0]:
print (2 + 2)  #addition
print (2 - 2)  #subtraction
print (2 / 2)  #division
print (2 * 2)  #multiplication
print (2 ** 3) #exponentiation
print (3 % 2)  #module - rest
print (5 // 2) #floor division

##Relational Operators

In [0]:
# == equal
# != not equal
# > greater than
# < less than
# >= greater than or equal to
# <= less than or equal to

##Assignment Operators

In [0]:
# = assign
# += add and assign
# -= subtract and assign
# /= divide and assign
# *= multiply and assign
# %= modulus and assign
# **= exponent and assign
# //= floor-divide and assign

##Logical Operators

In [0]:
# and - both sides must be true to return true
# or - one side must be true to return true
# not - inverter

##Membership Operators

In [0]:
# in - checks if a value is a member of a sequence
# not in - checks if a value is not a member of a sequence

##Identity Operators

In [0]:
# is - checks if two operands have the same identity
# is not - checks if two operands not have the same identity

##Bitwise Operators

In [0]:
# & - binary AND
# | - binary OR
# ^ - binary XOR
# ~ - binary one's complement
# << - binary left-shift
# >> - binary right-shift

##Variables

In [0]:
variable = 47 #int
print(type(variable)) 
variable = 47.55 #flaot
print(type(variable)) 
variable = "47.55" #str
print(type(variable))
variable = '47.55' #str
print(type(variable))
variable = True #bool
print(type(variable))
variable = [1, 2, 3, "abacaxi", 5.55, True] #list
print(type(variable))
variable = None #has no value (empty)
print(type(variable))

##Conditional Statements

In [0]:
# IF - ELSE - ELIF
if 10 < 5:
	print("10 é menor do que 5!")
elif 10 > 5:
	print("10 é maior do que 5!")
else:
	print("São iguais!")

##Repetition Statements

In [0]:
# WHILE
x = 1
while x < 10:
	print (x)
	x += 1
# FOR
lista = [10,11,12,13,14]
for i in lista:
	print (i)
# FOR RANGE
for i in range(5):
	print(i)
for i in range(10,15):
	print(i)
for i in range(10,15,2):
	print(i)

##Strings

In [0]:
#Concatenação
a = "Thiago"
b = "M Monteiro"
c = a + " " + b
print(c)
#Tamanho de uma string
tamanho = len(a)
print(tamanho)
#Impressão
print(a[0])
print(a[0:3])
print(a[3:])
#Função lower (deixa tudo em minúsculo) e upper (deixa tudo em maiúsculo)
a = "THIAGO"
print(a) 
print(a.lower())
a = a.lower()
print(a) 
print(a.upper()) 
#Função strip (remove espaços e caracteres especiais como quebra de linha (\n))
var = "      conteudo\n"
print(var)
print(var.strip())
#Função split (Separa a string e transforma em lista)
var = "Thiago Mânica Monteiro"
print(var)
print(type(var))
print(var.split()) #parâmetro default: " "
print(type(var.split()))
#Função find (busca de substrings)
print(var.find("Monteiro")) #Retorna o índice da primeira ocorrência / -1 se não encontrar
print(var.find("Monasterio"))
#Função replace
var = var.replace("Monteiro", "Monastério")
print(var)

##Functions

In [0]:
def soma(x, y):
	return x + y
s = soma(2, 3)
print(s)

##File Handling

In [0]:
'''
Função open
variavel = open(nome, modo)
nome - nome do arquivo
modo - r: somente leitura (default)
		w: escrita (caso o arquivo já exista, ele será apagado e um novo arquivo vazio será criado)
		a: leitura e escrita (adiciona o novo conteúdo ao fim do arquivo)
		r+: leitura e escrita
		w+: escrita (o modo w+, assim como o w, também apaga o conteúdo anterior do arquivo)
		a+: leitura e escrita (abre o arquivo para atualização)
Funções de leitura - read() - readline() - readlines()
read() - lê o arquivo inteiro
readline() - lê uma linha do arquivo
readlines() - lê as linhas do arquivo e armazena em uma lista
Função de escrita - write()
'''
#Descomentar esta área para executar
# arquivo = open("arquivoteste.txt", "r")

# linhas = arquivo.readlines()
# for linha in linhas:
# 	print(linha)
# arquivo.close()

# #readline lê somente uma linha por vez - é o menos usado
# arquivo = open("arquivotestecriado.txt", "w")
# arquivo.write("Este arquivo foi criado pelo código\n")
# arquivo.close()

'\nFunção open\nvariavel = open(nome, modo)\nnome - nome do arquivo\nmodo - r: somente leitura (default)\n\t\tw: escrita (caso o arquivo já exista, ele será apagado e um novo arquivo vazio será criado)\n\t\ta: leitura e escrita (adiciona o novo conteúdo ao fim do arquivo)\n\t\tr+: leitura e escrita\n\t\tw+: escrita (o modo w+, assim como o w, também apaga o conteúdo anterior do arquivo)\n\t\ta+: leitura e escrita (abre o arquivo para atualização)\nFunções de leitura - read() - readline() - readlines()\nread() - lê o arquivo inteiro\nreadline() - lê uma linha do arquivo\nreadlines() - lê as linhas do arquivo e armazena em uma lista\nFunção de escrita - write()\n'

##Lists

In [0]:
minha_lista = [1, 2, 2.5, "abacaxi", True, False]
minha_lista_vazia = []
print(minha_lista)
print(minha_lista_vazia)

for item in minha_lista:
	print(item)

#Função len - tamanho da lista
tamanho = len(minha_lista)
print(tamanho)
#Encontrar um elemento na lista
if 2.5 in minha_lista:
	print("Yes!")
#Função append - insere elemento no final da lista
minha_lista.append("limão")
print(minha_lista)
#Função del - remove elemento(s) da lista
del minha_lista[0] #remove o item de índice 0
print(minha_lista)
del minha_lista[3:] #remove do índice 3 até o final
print(minha_lista)
del minha_lista[:] #remove todos os itens da lista, deixando vazia
print(minha_lista)

#Como ordenar listas
minha_lista = [9, 6, 5, 3, 7, 2, 1, 4, 8]
minha_lista2 = ["c", "b", "d", "a", "f", "e"]
print(minha_lista)
print(minha_lista2)
#Método sort - altera a lista original
minha_lista.sort()
minha_lista2.sort()
print(minha_lista)
print(minha_lista2)
#Função sorted - retorna uma lista ordenada, não alterando a original
minha_lista = [9, 6, 5, 3, 7, 2, 1, 4, 8]
print(minha_lista)
lista_ordenada = sorted(minha_lista)
print(lista_ordenada)
print(minha_lista)
#Ordenar de forma decrescente
minha_lista.sort(reverse=True)
print(minha_lista)
#Método reverse - inverte a lista 
minha_lista.reverse()
print(minha_lista)

##Sets

In [0]:
#Sets only permit unique values
s = set()
s.add(1)
s.add(3)
s.add(5)
s.add(3)
print(s)

##Dictionaries

In [0]:
# Listas de associações compostas por:
# -uma chave
# -um valor correspondente
# dicionário = {'chave': 'valor'}

dicionario = {"Thiago": "30", "Marcelo": "50", "Patrícia": "40"}
print(dicionario)
print(dicionario["Patrícia"])
#Imprime as chaves
for chave in dicionario:
	print(chave)
#Imprime os valores
for chave in dicionario:
	print(dicionario[chave])
#Imprime de forma personalizada
for chave in dicionario:
	print(chave + " - " + dicionario[chave])
#Função items() - converte cada par do dicionário em uma tupla
for i in dicionario.items():
	print(i)
#Método values() - retorna apenas os valores
for valor in dicionario.values():
	print(valor)
#Método keys() - retorna apenas as chaves
for chave in dicionario.keys():
	print(chave)


##Random Numbers

In [0]:
import random #módulo/lib python que gera números aleatórios

# Método randint(&num_inicial, &num_final) - gera um número aleatório de um range escolhido
# num_inicial: Primeiro número possível aleatório
# num_final: Último número possível aleatório

num = random.randint(0,10)
print(num)


# Métudo choice(&lista) - Gera um número aleatório a partir de uma lista pré-definida

minha_lista = [5, 7, 9, 13, 15]
num = random.choice(minha_lista)
print(num)

3
13


##Exception Handling

In [0]:
a = 2
b = 0
try:
	print(a/b)
except:
	print("Não é permitido divisão por 0!")
print("Aqui continua a execução normalmente")

##Python 2 vs. Python 3

In [0]:
# Não muda muita coisa na prática. Python 3 possui melhor performance. Quanto a sintaxe, destaco apenas dois pontos:
# 1) Comando print()
# Ao executar o print, em Python 3, os parênteses passam a ser obrigatórios:
# # Python 2
# print "Olá mundo"
# # Python 3
# print("Olá mundo")
# Para printar uma entrada do usuário junto com uma string, devemos colocar a letra f na frente: print(f"Hello, {name}!")
# 2) Comando input()
# Em Python 2 há duas variações do comando input:
# raw_input() #strings
# input() # valores numéricos
# Em python 3, deve-se usar apenas input() para strings, e para números deve-se combinar com as funções float ou int. Veja:
# # Recebendo textos
# meu_texto = input("Digite um texto: ")
# # Recebendo números
# numero_inteiro = int(input("Digite um numero inteiro: "))
# numero_decimal = float(input("Digite um numero decimal: "))
# O Sublime Text não aceita o comando input(), e você receberá uma mensagem como "EOFError: EOF when reading a line". 
# Esse comando só funciona no terminal/cmd. Você pode inserir o valor diretamente na variável, caso use sublime text.
# Ou instalar este pacote, para funcionar no Sublime (siga este vídeo):
# https://www.youtube.com/watch?v=R5-niid0m8A

##List Comprehension

In [0]:
x = [1, 2, 3, 4, 5]
# y = [valor_a_adicionar laço condição]

y = [i**2 for i in x]
print(x)
print(y)
z = [i for i in x if i%2 == 1]
print(z)

##Função enumerate

In [0]:
lista = ["abacate", "bola", "cachorro"]

for i, nome in enumerate(lista):
	print(i, nome)

##Função map

In [0]:
def dobro(x):
	return x*2

valor = 2
print(dobro(valor))
lista_valores = [1, 2, 3, 4, 5]
print(dobro(lista_valores)) #duplica a lista

valor_dobrado = map(dobro, lista_valores)
valor_dobrado = list(valor_dobrado)
print(valor_dobrado)

##Função reduce

In [0]:
from functools import reduce
def soma(x,y):
	return x+y

lista = [10, 20, 30]

soma = reduce(soma, lista)

print(soma)

##Função zip

In [0]:
lista1 = [1, 2, 3, 4]
lista2 = ["abacate", "bola", "cachorro", "dinheiro"]
lista3 = ["R$2,00", "R$3,00", "R$500,00", "R$3,00"]

for numero, nome, valor in zip(lista1, lista2, lista3):
	print(numero, nome, valor)

##Função filter

In [0]:
def pares(i):
	if i%2 == 0:
		return i
lista = [1,2,3,4,5,6,7,8,9,10]

lista_pares = filter(pares, lista)
print(list(lista_pares))

[2, 4, 6, 8, 10]